## 02 - Basic Data and Variables

This notebook is a serie of exercises about the concept presented in 02 Basic Data and Variables and made by Theo van Walsum.

Those exercises are not mandatory but it is strongly adviced to do them as programming is skill learnt by doing.

### Operators and types . . .

This prepares for one of the next lectures ...

Write code that prints the value (and type) of the following expressions:

- 3/1
- 3/2
- 3/3
- 3/4
- 3.0/1
- 3.0/2
- 3.0/3
- 3.0/4
- 3//1
- 3//2
- 3//3
- 3//4
- 3.0//1
- 3.0//2
- 3.0//3
- 3.0//4
- 3%1
- 3%2
- 3%3
- 3%3

What would be the meaning of /, // and % ?

In [23]:
my_tuple = (3/1, 3/2, 3/3, 3/4, 3.0/1, 3.0/2, 3.0/3, 3.0/4, 3//1, 3//2, 3//3, 3//4, 3.0//1, 3.0//2, 3.0//3, 3.0//4, 3%1, 3%2, 3%3, 3%4)

for i in my_tuple:
    print(f"value: {i}, type: {type(i)}")

value: 3.0, type: <class 'float'>
value: 1.5, type: <class 'float'>
value: 1.0, type: <class 'float'>
value: 0.75, type: <class 'float'>
value: 3.0, type: <class 'float'>
value: 1.5, type: <class 'float'>
value: 1.0, type: <class 'float'>
value: 0.75, type: <class 'float'>
value: 3, type: <class 'int'>
value: 1, type: <class 'int'>
value: 1, type: <class 'int'>
value: 0, type: <class 'int'>
value: 3.0, type: <class 'float'>
value: 1.0, type: <class 'float'>
value: 1.0, type: <class 'float'>
value: 0.0, type: <class 'float'>
value: 0, type: <class 'int'>
value: 1, type: <class 'int'>
value: 0, type: <class 'int'>
value: 3, type: <class 'int'>

In [ ]:
# Dus: 
# / is delen door
# // is delen door en naar beneden afronden
# % is rest